* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
}

/* Hero Section */
#hero {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
#hero #title {
  display: flex;
  justify-content: center;
  background-color: #fafbf4;
  padding: 3vh 5vw;
  font-size: 1.8rem;
}
#hero #picture {
  display: flex;
  justify-content: center;
  padding: 3vh 5vw;
  background-color: #fafbf4;
}

#hero #picture img {
  border-radius: 100%;
  border: 3px solid #7ec8e3;
}

#intro {
  background-color: #fafbf4;
  padding: 5vh 5vw 5vh 5vw;
  text-align: lef;
}
#intro p {
  font-size: 1.85rem;
}
/* Projects Sections */
#projects {
  background-color: #7ec8e3;
  color: #fafbf4;
  padding: 3vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 3vh;
}
#projects #weather-project {
  border: 3px solid #fafbf4;
  border-radius: 5px;
  margin: 3vh;
}

#projects .project-image img {
  border-bottom: 3px solid #fafbf4;
  height: auto;
  width: 100%;
}

#projects .project-content {
  padding: 1vh 2.5vw 1vh 2.5vw;
}
#projects .project-content h3 {
  font-size: 1.5rem;
}

#projects .project-content p {
  font-size: 1rem;
  text-align: justify;
}

/* Contact me Section */
#contact-me {
  background-color: #fafbf4;
  color: black;
  padding: 3vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
#contact-me h2 {
  padding-bottom: 3vh;
}

#contact-me #contact-CTA {
  text-align: center;
}

#contact-me #contact-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}
